<footer>
    <div class="container-fluid mt-2 bg-info">
        <div class="container text-light">
            <div class="row">
                <!--Logo y redes sociales-->
                <div class="col col-4 p-3">
                    <img class="logo" src="../../../assets/img/cine.png" alt="logo">
                    <h3>Encuentranos en:</h3>
                    <div>
                        <img class="logo_facebook m-2" src="../../../assets/img/img_footer/facebook.png" alt="logo facebook">
                        <img class="logo_instagram m-2" src="../../../assets/img/img_footer/instagram.png" alt="logo instagram">
                        <img class="logo_whatsapp m-2" src="../../../assets/img/img_footer/whatsapp.png" alt="logo whatsapp">
                    </div>
                </div>
                <!--Tiendas-->
                <div class="col col-4 p-3">
                    <h3>Tiendas</h3>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                            <img class="img_gps m-1" src="../../../assets/img/img_footer/gps.png" alt="gps">
                            <p>Alameda 2783 - Santiago</p>
                        </div>
                        <div class="d-flex flex-row">
                            <img class="img_tel m-1" src="../../../assets/img/img_footer/tel.png" alt="tel">
                            <p>+56 22681 0598</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column mb-2">
                        <div class="d-flex flex-row">
                            <img class="img_gps m-1" src="../../../assets/img/img_footer/gps.png" alt="gps">
                            <p>Eyzaguirre 20 - Puente Alto</p>
                        </div>
                        <div class="d-flex flex-row">
                            <img class="img_tel m-1" src="../../../assets/img/img_footer/tel.png" alt="tel">
                            <p>+56 22849 4248</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column mb-2">
                        <div class="d-flex flex-row">
                            <img class="img_gps m-1" src="../../../assets/img/img_footer/gps.png" alt="gps">
                            <p>Av. Las Condes 8668 - Las Condes</p>
                        </div>
                        <div class="d-flex flex-row">
                            <img class="img_tel m-1" src="../../../assets/img/img_footer/tel.png" alt="tel">
                            <p>+56 22212 7174</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column mb-2">
                        <div class="d-flex flex-row">
                            <img class="img_gps m-1" src="../../../assets/img/img_footer/gps.png" alt="gps">
                            <p>Avda Ossa 160 -Ñuñoa</p>
                        </div>
                        <div class="d-flex flex-row">
                            <img class="img_tel m-1" src="../../../assets/img/img_footer/tel.png" alt="tel">
                            <p>+56 22277 7393</p>
                        </div>
                    </div>
                </div>
                <!--Horario tiendas y Despacho-->
                <div class="col col-4 p-3">
                    <h3>Horarios de Atención Tiendas</h3>
                    <p>
                        Lunes a viernes de 9:30 a 17:45 hrs
                        Sábado de 9:30 a 13:30 hrs
                        Domingos y festivos cerrado
                    </p>
                    <h3>Sobre Despachos</h3>
                    <div class="d-flex flex-row">
                        <img class="img_desp m-1" src="../../../assets/img/img_footer/desp.png" alt="desp">
                        <p>Envíos dentro y fuera de Santiago.</p>
                    </div>
                    <div class="d-flex flex-row">
                        <img class="img_box m-1" src="../../../assets/img/img_footer/box.png" alt="box">
                        <p>Despachos dentro de 1 a 2 días hábiles aproximados en Santiago.</p>
                    </div>
                    <div class="d-flex flex-row">
                        <img class="img_box m-1" src="../../../assets/img/img_footer/box.png" alt="box">
                        <p>Envío gratis en compras superiores a $250.000 en Santiago.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>