<div class="container p-4 ">
    <h2 class="text-dark text-center">Nosotras</h2>
    <div class="container container-fluid row p-4">
        <div class="col-sm-3 ">
            <div class="card mx-1 bg-dark card border-danger">
                <img src="../../../assets/img/img_nosotros/Yusjuani.jpg" class="card-img-top" alt="Yus">
                <div class="card-body">
                    <h5 class="card-title text-white">Yusjuani Hernández</h5>
                    <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptatibus nobis quibusdam veniam dignissimos, voluptate qui ea, pariatur sed reiciendis ex iste eius nam, illo ipsa voluptatum? Saepe, atque omnis.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text fst-italic text-white">
                        <a href="https://github.com/Yusjuani" target="_blank">More info</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card mx-1 bg-dark card border-danger">
                <img src="../../../assets/img/img_nosotros/Eli.jfif" class="card-img-top" alt="Eli">
                <div class="card-body">
                    <h5 class="card-title text-white">Elizabeth Macias</h5>
                    <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptatibus nobis quibusdam veniam dignissimos, voluptate qui ea, pariatur sed reiciendis ex iste eius nam, illo ipsa voluptatum? Saepe, atque omnis.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text fst-italic text-white">
                        <a href="https://github.com/ElizabethMaciasSandoval" target="_blank">More info</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card mx-1  bg-dark card border-danger">
                <img src="../../../assets/img/img_nosotros/Ale.png" class="card-img-top bg-light" alt="Eli">
                <div class="card-body">
                    <h5 class="card-title text-white">Alejandra Maureira</h5>
                    <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptatibus nobis quibusdam veniam dignissimos, voluptate qui ea, pariatur sed reiciendis ex iste eius nam, illo ipsa voluptatum? Saepe, atque omnis.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text fst-italic text-white">
                        <a href="https://github.com/alemaureira22" target="_blank">More info</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card mx-1 bg-dark card border-danger">
                <img src="../../../assets/img/img_nosotros/Liz.jpeg" class="card-img-top" alt="Liz">
                <div class="card-body">
                    <h5 class="card-title text-white">Elizabeth Bringas</h5>
                    <p class="card-text text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptatibus nobis quibusdam veniam dignissimos, voluptate qui ea, pariatur sed reiciendis ex iste eius nam, illo ipsa voluptatum? Saepe, atque omnis.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text fst-italic text-white">
                        <a href="https://github.com/LizBri" target="_blank">More info</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
