<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      style="background-color: rgb(33, 97, 140)"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      style="background-color: rgb(33, 97, 140)"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      style="background-color: rgb(33, 97, 140)"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="3"
      style="background-color: rgb(33, 97, 140)"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../assets/img/05 (1).png"
        class="d-block w-100"
        alt="Primera imagen"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-muted fs-1 text">GoloCine</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/img/26.png"
        class="d-block w-100"
        alt="Segunda imagen"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-muted fs-1 text">GoloCine</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/img/21 (1).png"
        class="d-block w-100"
        alt="Tercera imagen"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-muted fs-1 text">GoloCine</h5>
      </div>
    </div>

    <div class="carousel-item">
      <img
        src="../../../assets/img/30.png"
        class="d-block w-100"
        alt="Cuarta imagen"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-muted fs-1 text"></h5>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon"
        aria-hidden="true"
        style="background-color: rgb(33, 97, 140)"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon"
        aria-hidden="true"
        style="background-color: rgb(33, 97, 140)"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
  <div class="collapse" id="collapseExample">
    <div class="card card-body bg-info">
      Bienvenidos a GoloCine el lugar para los fanáticos de series y películas
      sin salir de casa. Nuestra mision es que disfrutes de esas maratones de
      series o esas tardes de películas con tus golosinas favoritas.
    </div>
  </div>
</div>
<div class="d-grid gap-2">
  <button
    class="btn btn-primary"
    type="button "
    data-bs-toggle="collapse"
    data-bs-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    Golosinas del cine a tu casa
  </button>
</div>
<!--peliculas-->
<div class="container m-1 mx-auto">
  <div class="row">
    <div class="col-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/img/pelicula1.png" class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">"E.T"</h5>
              <p class="card-text">
                
                E.T. narra la amistad entre Elliott, un chico solitario de diez años, y un visitante de otro planeta que pierde su nave espacial. Elliott lleva a E.T. a su casa, donde vive con su madre, su hermana y el hermano mayor; el padre abandonó la familia hace algún tiempo. E.T. aprende en seguida el lenguaje y a vaciar un frigorífico; con chatarra consigue bricolear un aparato de radio para llamar a «mi casa; teléfono…».
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/img/pelicula2.png" class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">“The Hobbit”</h5>
              <p class="card-text">
                Poco se puede agregar a estas alturas sobre la obra de Tolkien, pero aprovechando que se aproxima en nuestro país el estreno de la película el hobbit del director Peter Jackson, no está demás visitar la fuente o libro que inspira el film. En él se describe y da vida al universo de los hobbits y cómo se relacionan con su entorno, mezcla única de magia, misticismo y épica de leyenda.
                Base de este cuadro de fantasía se presenta a través de la historia.
                 
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/img/pelicula4.png" class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">“Brave”</h5>
              <p class="card-text">
                Mérida es una joven princesa que desea hacer cosas que su madre, la Reina Elinor, considera no aptas para damas, mientras su padre, el Rey Fergus, la apoya a ser como ella quiere ser. No es que su madre la odie, simplemente es la manera que ella cree que es la correcta. Cuando los padres de Mérida deciden que ella ya está en edad de que la pretendan para matrimonio, ella no está de acuerdo y hace lo posible porque ésto no suceda.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/img/pelicula5.png" class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">“The Secret Life of Walter Mitty”

              </h5>
              <p class="card-text">
                Walter Mitty es un "chico promedio" que siente que no está viviendo la vida que quiere. Así que sueña despierto con frecuencia. Estos sueños despiertos son elaboradamente hilarantes y entrañables. Muchos terminan durante una interrupción por parte de alguien o cada vez que se cumple cualquier fantasía. Mientras lucha por mantenerse en la realidad, trabaja en un periódico que pronto desaparecerá y que está siendo reemplazado. 
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>