
<div class="container">
  <hr>
  <div class="row" >        
      
          <div class="col-12 col-md-4 mb-2" *ngFor="let producto of productos">
              <div class="card">
                  <img src= {{producto.imagen}}  class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">{{ producto.nombreProducto}}</h5>
                      <p class="card-text"> {{producto.precio}} </p>                        
                      <button class="btn btn-primary" id={{producto.id}} (click)="enviarPedidoCompra(producto.id)">Comprar</button>
                  </div>
              </div>
          </div>        
      
  </div>
</div>