<div class="container mt-4 mb-4">
    <form [formGroup]="form">
        <div class="card">
            <!--header de la card-->
            <div class="card-header">
                <h3 class="card-title" *ngIf="!producto.id else titleBlock">{{titleCreate}}</h3>
                <ng-template #titleBlock>
                    <h3 class="card-title">{{titleUpdate}}</h3>
                </ng-template>
            </div>
            <!--body de la card-->
            <div class="card-body">
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Nombre producto</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombreProducto" name="nombreProducto" formControlName="nombreProducto" [(ngModel)]="producto.nombreProducto" [ngClass]="{'is-invalid': submitted && f['nombreProducto'].errors}">
                        <div *ngIf="submitted && f['nombreProducto'].errors" class="invalid-feedback">
                            <div *ngIf="f['nombreProducto'].errors['required']">Nombre Requerido.</div>
                            <div *ngIf="f['nombreProducto'].errors['minlength']">Nombre debe tener al menos dos caracteres.</div>
                            <div *ngIf="f['nombreProducto'].errors['maxlength']">Nombre excede el largo máximo permitido (50).</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Descripción producto</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="descripcionProducto" name="descripcionProducto" formControlName="descripcionProducto" [(ngModel)]="producto.descripcionProducto" [ngClass]="{'is-invalid': submitted && f['descripcionProducto'].errors}">
                        <div *ngIf="submitted && f['descripcionProducto'].errors" class="invalid-feedback">
                            <div *ngIf="f['descripcionProducto'].errors['required']">Descripción Requerida.</div>
                            <div *ngIf="f['descripcionProducto'].errors['minlength']">La descripción debe tener al menos 15 caracteres.</div>
                            <div *ngIf="f['descripcionProducto'].errors['maxlength']">La descripción excede el largo máximo permitido (150).</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Precio</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="precio" name="precio" formControlName="precio" [(ngModel)]="producto.precio" [ngClass]="{'is-invalid': submitted && f['precio'].errors}">
                        <div *ngIf="submitted && f['precio'].errors" class="invalid-feedback">
                            <div *ngIf="f['precio'].errors['required']">Precio Requerido.</div>
                            <div *ngIf="f['precio'].errors['min']">Precio debe ser mayor a 0.</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Cantidad</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="stock" name="stock"  formControlName="stock" [(ngModel)]="producto.stock" [ngClass]="{'is-invalid': submitted && f['stock'].errors}">
                        <div *ngIf="submitted && f['stock'].errors" class="invalid-feedback">
                            <div *ngIf="f['stock'].errors['required']">Cantidad Requerida.</div>
                            <div *ngIf="f['stock'].errors['min']">La cantidad debe ser mayor a 0.</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Imagen</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="imagen" name="imagen" formControlName="imagen" [(ngModel)]="producto.imagen" [ngClass]="{'is-invalid': submitted && f['imagen'].errors}">
                        <div *ngIf="submitted && f['imagen'].errors" class="invalid-feedback">
                            <div *ngIf="f['imagen'].errors['required']">URL imagen Requerida.</div>
                            <div *ngIf="f['imagen'].errors['minlength']">La URL debe tener al menos 10 caracteres.</div>
                            <div *ngIf="f['imagen'].errors['maxlength']">La URL excede el largo máximo permitido (255).</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer de la card-->
            <div class="card-footer">
                <div class="form-group row text-center">
                    <div class="col">
                        <button *ngIf="!producto.id else elseUpdate" type="button" (click)="onSubmit()" class="btn btn-lg btn-outline-primary m-2">Crear</button>
                        <ng-template #elseUpdate>
                            <button type="button" (click)="updateProducto()" class="btn btn-lg btn-outline-primary m-2">Actualizar</button>
                        </ng-template>                        
                        <button type="button" (click)="onReset()" class="btn btn-lg btn-outline-secondary m-2">Limpiar</button>
                        <button type="button" routerLink="/administradorProductos" class="btn btn-lg btn-outline-danger m-2">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>